.flex-row {
  display: flex;
  justify-content: center;
  margin-top: 27px;
}
.left-side {
  width: 400px;
}
.left-side .product-picture {
  width: 100%;
  height: 400px;
}
.left-side .product-picture img {
  width: 100%;
  height: 100%;
}
.left-side .same-series {
  margin-top: 20px;
}
.left-side .same-series .title {
  font-size: 16px;
}
.left-side .same-series .same-product {
  margin-top: 10px;
}
.left-side .same-series .same-product .item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.left-side .same-series .same-product .item:last-child {
  margin-bottom: 0;
}
.left-side .same-series .same-product .item .img-wrapper {
  width: 100px;
  height: 100px;
}
.left-side .same-series .same-product .item .img-wrapper img {
  width: 100%;
}
.left-side .same-series .same-product .item .p-title {
  margin-left: 10px;
  font-size: 14px;
}
.right-side {
  width: 620px;
  margin-left: 60px;
}
.right-side .product-info {
  background-color: #FCFCFC;
  padding-bottom: 30px;
}
.right-side .product-info .basic {
  padding: 30px 20px;
  border-bottom: 1px solid #EBEBEB;
}
.right-side .product-info .basic .title {
  font-size: 24px;
  font-weight: 500;
}
.right-side .product-info .basic .attrs {
  margin-top: 14px;
  color: #8B8B8B;
  font-size: 14px;
}
.right-side .product-info .explain {
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 26px;
}
.right-side .product-info .explain:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #793CD4;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}
.right-side .product-info .beat {
  padding: 0 20px;
  margin-top: 18px;
}
.right-side .product-info .beat .price {
  font-size: 32px;
}
.right-side .product-info .beat .quantity {
  position: relative;
  margin-top: 20px;
}
.right-side .product-info .beat .quantity input {
  width: 100px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #D4D4D4;
  text-align: center;
  font-size: 16px;
}
.right-side .product-info .beat .quantity a {
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #793CD4;
  color: #fff;
}
.right-side .product-info .beat .quantity a i {
  font-size: 14px;
}
.right-side .product-info .beat .quantity .disable {
  border: 1px solid #D4D4D4;
  color: #D4D4D4;
  background-color: #fff;
}
.right-side .product-info .added {
  margin-top: 34px;
}
.right-side .product-info .added .head {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #793CD4;
  border-radius: 2px;
  color: #fff;
  padding: 0 20px;
}
.right-side .product-info .added .added-product .item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.right-side .product-info .added .added-product .item .checkbox {
  padding: 0 20px;
}
.right-side .product-info .added .added-product .item .checkbox .show-box {
  display: flex;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.right-side .product-info .added .added-product .item .checkbox input {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  display: none;
}
.right-side .product-info .added .added-product .item .checkbox input:checked + .show-box {
  background-color: #793CD4;
  border-color: #793CD4;
}
.right-side .product-info .added .added-product .item .checkbox input:checked + .show-box:before {
  content: "\e615";
  color: #fff;
}
.right-side .product-info .added .added-product .item .img-wrapper {
  width: 100px;
  height: 100px;
}
.right-side .product-info .added .added-product .item .img-wrapper img {
  width: 100%;
}
.right-side .product-info .added .added-product .item .information {
  margin-left: 20px;
  font-size: 14px;
}
.right-side .product-info .added .added-product .item .information .quantity {
  position: relative;
  margin-top: 20px;
}
.right-side .product-info .added .added-product .item .information .quantity input {
  width: 80px;
  height: 26px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #D4D4D4;
  text-align: center;
  font-size: 16px;
}
.right-side .product-info .added .added-product .item .information .quantity a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #793CD4;
  color: #fff;
}
.right-side .product-info .added .added-product .item .information .quantity a i {
  font-size: 14px;
}
.right-side .product-info .added .added-product .item .information .quantity .disable {
  border: 1px solid #D4D4D4;
  color: #D4D4D4;
  background-color: #fff;
}
.right-side .product-info .added .added-product .item .price {
  font-size: 14px;
  color: #FF6299;
  position: absolute;
  right: 20px;
  top: 28px;
}
.right-side .product-info .added .added-product .selected {
  background-color: #F8F4FF;
}
.right-side .btn_actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  opacity: 0;
}
.right-side .btn_actions a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  background: #793CD4;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
}
.present {
  margin-top: 34px;
}
.present .tabs {
  height: 60px;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.present .tabs .ll {
  padding: 0 25px;
}
.present .tabs .ll .activate {
  color: #793CD4;
}
.present .tab-content {
  padding: 30px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
}
.present .tab-content p {
  width: 100%;
}
.present .tab-content img {
  width: 740px;
  margin: 0 auto;
}
.guess {
  margin-top: 60px;
  border-top: 1px solid #F0F0F0;
  padding: 30px;
}
.guess .title {
  font-size: 16px;
  text-align: center;
}
.guess .guess-product {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.guess .guess-product .item {
  width: 200px;
  text-align: center;
}
.guess .guess-product .item .img-wrapper {
  width: 200px;
  height: 200px;
}
.guess .guess-product .item .img-wrapper img {
  width: 100%;
}
.guess .guess-product .item .title {
  margin-top: 16px;
  height: 38px;
  margin-bottom: 12px;
}
.guess .guess-product .item .price {
  color: #FF6299;
}
.guess .guess-product .item .price em {
  font-size: 10px;
  font-style: normal;
}
.guess .guess-product .item .price span {
  font-size: 16px;
}
/*# sourceMappingURL=goods.css.map */